/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(0, 0%, 0%);
  --clr-primary-2: hsl(180, 1%, 21%);
  --clr-primary-3: hsl(240, 1%, 17%);
  --clr-primary-4: hsl(210, 1%, 32%);
  /* primary/main color */
  --clr-primary-5: hsl(195, 2%, 43%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(180, 1%, 58%);
  --clr-primary-7: hsl(220, 2%, 68%);
  --clr-primary-8: hsl(200, 2%, 70%);
  --clr-primary-9: hsl(195, 5%, 84%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;

   /* font-family */
   --ff-primary-1:  "Playfair Display";
   --ff-primary-2: "Esteban";
   --ff-primary-3: "Bitter";
   --ff-primary-4: "Lobster" ;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
 
  padding: 0;
  box-sizing: border-box;
}
body {
  
  font-family: var(--ff-secondary);
  background: var(--clr-primary-8);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  margin: 0
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 0;
  }
  .sidebar{
    width:100px; 
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/*
=============== 
Nav
===============
*/
/* element selecter */
nav {
  
  background: var(--clr-primary-8);
  
  height: 3rem;
 
  display: grid;
  align-items: center;
  box-shadow: var(--dark-shadow);
}
/* class selecter */
.nav-center {
  /*  vw : viewpoint width*/
  width: 90vw;
  
  max-width: var(--fixed-width);
  margin: 20 20;
  /* 1 dimension using either col or row  */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-center h4 {
  display: flex; 
  justify-content: center;
  margin-left: 20px; 
  font-family: var(--ff-primary-1);
  color: var(--clr-primary-10);
}
.nav-links {
  display: flex;
}
nav a {
  text-transform: capitalize;
  font-family: var(--ff-primary-1);
  font-weight: 700;
  font-size: 1rem;
  color: var(--clr-primary-1);
  letter-spacing: var(--spacing);
  margin-right: 1rem;
}
nav a:hover {
  color: var(--clr-primary-5);
}

/*
=============== 
Sidebar
===============
*/
.sidebar-toggle {
  position: fixed;
  top : 8px; 
  right: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}
.sidebar-toggle:hover {
  color: var(--clr-primary-7);
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.close-btn {
  font-size: 1.75rem;
  position: absolute  ; 
  right:0 ; 
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
  color: var(--clr-red-dark);
}
.close-btn:hover {
  color: var(--clr-red-light);
  transform: rotate(360deg);
}
.sidebar {
 
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background: var(--clr-white);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: var(--clr-red-dark);
  transition: var(--transition);
  /* uncomment transform : translate(-100) make the sidebar disappear from the page */
  transform: translate(-100%);
}
.show-sidebar {
  transform: translate(0);
}

.links a {
  display: block;
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: var(--clr-grey-5);
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.75rem;
}
.social-icons {
  justify-self: center;
  display: flex;
  padding-bottom: 2rem;
}
.social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: var(--clr-primary-5);
  transition: var(--transition);
}
.social-icons a:hover {
  color: var(--clr-primary-1);
}
/*
=============== 
Container
===============
*/
main {
  min-height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
}
.container {
  width: 90vw;
  text-align: center;
  padding-top: 5rem;
  margin : 2px 20px;

}
.container h2 {
    background: var(--clr-primary-4);  /* Make the background color transparent */
    border: 5px solid var(--clr-primary-6); /* Add a black border */
    color: white;
    font-family: "Lobster";
    padding: 2rem;
    border-radius: var(--radius);
    border-radius: 10px; /* Round the border by specifying a border radius value */
    margin-bottom: 2.5rem;
 
}
.color {
  color: var(--clr-primary-5);
}
.btn-hero {
  font-family: var(--ff-primary);
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: white;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  border: 2px solid var(--clr-primary-6);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
}
/* when hovered over b the mouse pointery */
.btn-hero:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
/* create layout with 3 columns */
.grid-container {
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.grid-item{ 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.grid-item i {
   
    color : var(--clr-primary-5);
   
    width: 50px;
    height: 50px;
   
}
/* aside element */
.profile{
   
    margin: auto;
    display: flex; 
    width: 350px; /* Adjust the container size as needed */
    height: 300px; /* Adjust the container size as needed */
    overflow: hidden;
    border-radius: 50%; /* Make the container shape circular */
    /* overflow: hidden;  */
}
.profile img {
    
    width: 100%; /* Make the image fill the container */
  height: 100%; /* Make the image fill the container */
 

  
}
.profile i {
    color: var(--clr-primary-5);
    margin-left: 10px; 
    width: 50px;
    height: 50px;
}


/* block container for info tabs */
.block {
  
  padding: 1.5rem 2rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
} 
.block   ul {
  list-style-type: circle;
  padding: 0 0 ;
}
#title{
  color: var(--clr-primary-5);
  font-size: 2rem; 
  
}
.sub-title{
  font-size: 1.8rem;
  color: grey;
  
}
.details{
    width: 70vw;
    font-size: 1rem;
    font-weight: 700;
    
    padding-right: 10px;
}
.details p { 
    padding: 20px;
    
    color: #222;
    
}
footer{
    padding-top: 80rem; 
    display: flex; 
    position: relative;
    margin: 0 20px;
   
  }


.icon {
    display: flex;
    font-size: 30px;
    position: absolute;
    right: 20px;
   
}
.icon a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
}
.icon a:hover {
    color: var(--clr-primary-7);
}

/* create project container */
.review {
  background: var(--clr-primary-6);
  padding: 1.5rem 2rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
}
.review:hover {
  box-shadow: var(--clr-primary-10);
}
.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
#images {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.img-container::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10e";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: var(--clr-primary-8);
  color: var(--clr-white);
}
.img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--clr-primary-8);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}
#author {
  margin-bottom: 0.25rem;
}
#job {

  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-family: bold;
  color: var(--clr-primary-4);
  font-size: 1rem;
}
#info {
  margin-bottom: 0.75rem;
  color: var(--clr-primary-3);
  font-family: var(--ff-primary-2);
  font-size: 1.3rem;
    
}
.prev-btn,
.next-btn {
  color: var(--clr-primary-4);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color: var(--clr-primary-5);
}
